.mySwiper1 {
  width: 54%;
  height: 360px;
}

.mySwiper1 {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.mySwiper1:nth-child(1n) {
  background-color: rgb(206, 17, 17);
}

.mySwiper1:nth-child(2n) {
  background-color: rgb(0, 140, 255);
}

.mySwiper1:nth-child(3n) {
  background-color: rgb(10, 184, 111);
}

.mySwiper1:nth-child(4n) {
  background-color: rgb(211, 122, 7);
}

.mySwiper1:nth-child(5n) {
  background-color: rgb(118, 163, 12);
}

.mySwiper1:nth-child(6n) {
  background-color: rgb(180, 10, 47);
}

.mySwiper1:nth-child(7n) {
  background-color: rgb(35, 99, 19);
}

.mySwiper1:nth-child(8n) {
  background-color: rgb(0, 68, 255);
}

.mySwiper1:nth-child(9n) {
  background-color: rgb(218, 12, 218);
}

.mySwiper1:nth-child(10n) {
  background-color: rgb(54, 94, 77);
}
