@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --Bg-Background: #f1f5f7;
  --Bg-Body: #ffffff;
  --BtnPrimary: #092c4b;
  --BtnDelete: #d90429;
  --Blue1: #023e7d;
  --textColor: #000814;
}
.errorDiv {
  width: 100%;
  height: 6vh;
  transition: 0.9s all;
  padding: 5px;
  text-align: center;

  border-radius: 5px;
  background: var(--BtnDelete);
  color: var(--Bg-Body);
}
.dashName {
  padding: 10px;
  padding-left: 20px;
}
.dashName p {
  font-size: 18px;
  font-weight: 600;
}
.Navbar {
  width: 100%;
  height: 13vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 100px;
}
.navTitle {
  font-size: 28px;
  font-weight: 500;
  color: var(--textColor);
}
.Navbar ul {
  display: flex;
  align-items: center;
  gap: 10px;
}
.Navbar ul li {
  list-style: none;
  font-size: 18px;
  color: var(--textColor);
  font-weight: 500;
}
a {
  list-style: none;
  text-decoration: none;
}
.navTitle2 {
  display: flex;
  align-items: center;
  gap: 10px;
}
.navTitle2 p {
  font-size: 17px;
  font-weight: 400;
}
.Btn_auth {
  background: var(--Blue1);
  color: var(--Bg-Body);
  border: none;
  font-size: 18px;
  outline: none;
  padding: 6px 8px;
  border-radius: 9px;
}
.Btn_edit {
  background: var(--BtnPrimary);
  color: var(--Bg-Body);
  border: none;
  font-size: 16px;
  outline: none;
  padding: 6px 8px;
  border-radius: 9px;
}
.Btn_del {
  background: var(--BtnDelete);
  color: var(--Bg-Body);
  border: none;
  font-size: 16px;
  outline: none;
  padding: 6px 8px;
  border-radius: 9px;
}
.homeBody {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--Bg-Background);
}

.signUp {
  width: 28%;
  height: 60vh;
  background: var(--Bg-Body);
  border-radius: 9px;
  padding: 27px 18px;
}
.signUp h3 {
  text-align: center;
  font-size: 27px;
  font-weight: 600;
}
.Form_Control {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 12px;
}
.Form_Control label {
  font-size: 21px;
  font-weight: 400;
}
.Form_Control input {
  width: 100%;
  padding: 6px;
  border-radius: 9px;
  border: #000814 2px solid;
}
.Form_Button {
  width: 100%;
  padding: 8px 0px;
  border: none;
  font-size: 18px;
  font: 500;
  outline: none;
  border-radius: 9px;
  background: var(--Blue1);
  color: var(--Bg-Body);
}
.dashboard {
  width: 100%;
  background: #faedcd;
  height: fit-content;
}
.dashBoard_header {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  gap: 10px;
}
.dashBoard_Body {
  width: 100%;
  padding: 10px;
  height: 100vh;
}
.dashBoard_Body h2 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
}
.Card {
  width: 18%;
  height: 60%;
  padding: 18px;
  border-radius: 4%;
  background: #ffffff;
}
.Card h2 {
  font-size: 25px;
  font-weight: 500;
}

.Card p {
  font-size: 25px;
  font-weight: 600;
}
.productHome {
  width: 100%;
  height: 100vh;
  background: #faedcd;
  display: flex;
  gap: 10px;
  padding: 15px;
  justify-content: flex-start;
}

.productCard {
  width: 18%;
  height: fit-content;
  padding: 8px;
  background: #ffffff;
  border-radius: 10px;
}

.productCard img {
  width: 100%;
  height: 45vh;
  object-fit: cover;
}
.productCard h2 {
  font-size: 18px;
  font-weight: 500;
}
.productCard p {
  font-size: 16px;
  font-weight: 500;
}

.productCreate {
  width: 100%;
  height: 100vh;
  background: #faedcd;

  padding: 10px;

  align-items: center;
  justify-content: center;
}
.prForm {
  width: 30%;
  height: fit-content;
  background: #ffffff;
  padding: 10px;
  border-radius: 9px;
}
.orderBody {
  width: 100%;
  padding: 20px;
}
.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  width: 100%;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table th,
.styled-table td {
  padding: 10px;
}
.styled-table thead tr {
  background-color: #212d40;
  color: #ffffff;
  text-align: left;
  padding: 10px;
}
.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
  padding: 10px;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f4f4f4;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #212d40;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #212d40;
}
.pending {
  background: #46088b;
  padding: 10px;
  border-radius: 8px;
  color: #ffffff;
}
.sucess {
  background: #01815b;
  padding: 10px;
  border-radius: 8px;
  color: #ffffff;
}
.failed {
  background: #970a40;
  padding: 10px;
  border-radius: 8px;
  color: #ffffff;
}

.btn_action {
  background: var(--Blue1);
  color: var(--Bg-Body);
  border: none;
  font-size: 16px;
  outline: none;
  padding: 6px 8px;
  border-radius: 9px;
}
.dashName1 {
  width: 100%;
  height: 100vh;
  padding: 20px;
}
.dashName1 form {
  width: 45%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-radius: 13px;
  background: #f4f4f4;
  padding: 20px;
}
.dashName1 form select,
.dashName1 form select option {
  padding: 6px;
  width: 60%;
  border-radius: 7px;
}
.labelList {
  display: flex;
  gap: 14px;
}
.labelList label {
  font-size: 18px;
  font-weight: 500;
}
.labelList p {
  font-size: 18px;
  font-weight: 500;
}
